.header-container {
    display: grid;
    grid-template: 100% / 50% 50%;
    width: 100%;
    height: 100%;
    margin-top: 1%;
}

.left-container {
    display: grid;
    grid-template: 50% 50% / 100%;
    margin-left: 5%;
}

.right-container {
    display: grid;
    grid-template: 50% 50% / 100%;
    justify-self: right;
    margin-right: 15%;
}